<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            {% assign current = ' class="navbar current" style="float: left"' %}
        {% else %}
            <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
            {% assign current = ' class="navbar" style="float: left"' %}
        {% endif %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" onMouseOver="this.style.background='#111'" onMouseOut="this.style.background='rgba(0,0,0,0)'">{{ entry.title }}</a></li>
    {% endfor %}
    </ul>
</nav>
